:root {
	--background-color: #faf6f3;
	--container-color: #e4d4c7;
	--primary-color: #725ac1;
}
body {
	background-color: var(--background-color);
	margin: 150px 0;
}
h1 {
	color: var(--primary-color);
	font-size: 55px;
	font-family: "Playfair Display SC", serif;
	font-weight: bold;
}

h2 {
	font-family: "Poppins", sans-serif;
	font-size: 23px;
	line-height: 2;
}

h3 {
	font-family: "Poppins", sans-serif;
	font-size: 36px;
	font-weight: bold;
}

.index-button {
	position: relative;
	display: inline-block;
	margin: 65px;
	padding: 9px 9px;
	font-size: 18px;
	font-family: "Poppins", sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
	color: var(--primary-color);
	background: transparent;
	cursor: pointer;
	transition: ease-out 0.5s;
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	box-shadow: inset 0 0 0 0 var(--primary-color);
}

.index-button:hover {
	color: white;
	box-shadow: inset 0 -100px 0 0 #725ac1;
}

.index-button:active {
	transform: scale(0.9);
}

.container {
	background-color: var(--container-color);
	border-radius: 5px;
	padding: 60px 0;
}

.victoria-img {
	display: flex;
	justify-items: center;
	max-width: 60%;
	border-radius: 5%;
	margin: 0 auto;
	box-shadow: 3px 3px 8px rgb(0 0 0 / 30%);
}
